# پوشه‌های محیط مجازی و کامپایل شده
.venv/
__pycache__/
*.pyc

# فایل‌های حساس و محیطی
.env

# فایل‌های خروجی و تست
*.spec
*.log
*.tmp

# فایل‌ها و پوشه‌های مربوط به دیتا و ایندکس
storage/
data/
data3/
data4/
build/
